/* Css για το dropdown */
#dropdown .Select-control {
    background-color: #1e243a;
}
#dropdown .Select-value {
background-color: #1e243a;
color: #7999fe;
}

#dropdown .VirtualizedSelectOption {
color: #1e243a;
}

#dropdown .VirtualizedSelectFocusedOption {
background-color: rgb(244, 246, 246);
color: #1e243a;
}

.card{
    background-color: #1e243a;
}

.btn {
    background-color: #1e243a;
}

#dropdown .Select-control {
    border: 0px!important;
}

/* Css για το Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16%;
    padding: 20px 10px;
    background-color: #2e3859;
}

/* Css του κυρίου μέρους */
#content {
    margin-left: 18%;
    margin-right: 2%;
    padding: 20px 10p;
}

p{
    text-align:center;
    color:fff!important;
}

h2{
    text-align:center;
    color:fff!important;
}

#firstrow {
    background-color: #2e3859;
    padding: 2%;
    min-height:300px;
}

#secondrow {
    margin-left: 15px;
    margin-right: 15px;
}

#image_wc {
    width:100%;
    background-color:#1e243a;
    padding:1%;
}

#image img {
    width:100%;
    margin-bottom:2%;
}
